form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 3px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.meio {
    display: block;
    margin: 20px auto;
    width: fit-content;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

p:has(button) {
    text-align: center;
}

.semBorda {
    border: none;
}

.input-text {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}